<% content_for :body do %>
  <ul id="faqs_index">
    <% @faqs.each do |faq| -%>
      <li>
        <%= link_to(faq.question, '#' + dom_id(faq)) %>
      </li>
    <% end -%>
  </ul>

  <%= render :partial => 'faq', :collection => @faqs %>
<% end %>

<%= render '/refinery/content_page' %>
